html {
    height: 100%;
}

body {
    background: rgb(63, 94, 251);
    /* background: url('../assets/gradient.jpg') no-repeat; */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border-radius: 15px;
    background-color: rgba(75, 80, 83, 0.295);
    text-align: center;
}

.location {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    font-size: 2rem;
    font-weight: 900;
    padding: .001rem;
    text-align: left;
    background-color: rgba(253, 254, 255, 0.616)
}

.location p {
    padding-left: 1rem;
}

.description {
    text-transform: capitalize;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.flex p {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-right: 4rem;
    margin: auto;
}

.flex h1 {
    padding-top: 0.7rem;
    padding-left: 4rem;
    margin: auto;
}

.time {
    padding-right: 2rem;
}

@media only screen and (max-width: 1024px) {
    .container {
        border-radius: 0;
    }

    .location {
        font-size: 1.5rem;
    }

    .flex p {
        padding-left: 3rem;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        border-radius: 0;
    }

    .location {
        font-size: 1rem;
    }
}